<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="/common/meta :: meta" th:remove="tag"></div>
	<title>666导航站</title>
	<base target="_blank" />
</head>
<body th:with="menu='HOME'" th:inline="text">

	<!-- BEGIN HEADER -->
	<div th:include="/common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	
	<div class="container" ondrop="drop(event);" ondragover="allowDrop(event);">
		<ul th:if="${not #lists.isEmpty(links)}" id="link_ul">
			<li th:each="item:${links}" draggable="true" ondragstart="drag(event);" th:id="${item.id}">
				<a th:href="${item.url}" href="#" th:title="${item.name}" draggable="false">
					[[${item.name}]]
				</a>
			</li>
		</ul>
		
		<div class="row">
			<div class="col-md-12">
				<div id="willesPlay">
					<div class="playHeader">
						<div class="videoName">Tara - 懂的那份感觉</div>
					</div>
					<div class="playContent">
						<div class="turnoff">
							<ul>
								<li><a href="javascript:;" title="喜欢" class="glyphicon glyphicon-heart-empty"></a></li>
								<li><a href="javascript:;" title="关灯" class="btnLight on glyphicon glyphicon-adjust"></a></li>
								<li><a href="javascript:;" title="分享" class="glyphicon glyphicon-share"></a></li>
							</ul>
						</div>
						<video width="100%" height="100%" id="playVideo">
							<source src="/temp/中秋寻月-预告片.mp4" type="video/mp4"></source>
							当前浏览器不支持 video直接播放，点击这里下载视频： <a href="/">下载视频</a>
						</video>
						<div class="playTip glyphicon glyphicon-play"></div>
					</div>
					<div class="playControll">
						<div class="playPause playIcon"></div>
						<div class="timebar">
							<span class="currentTime">0:00:00</span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
								</div>
							<span class="duration">0:00:00</span>
						</div>
						<div class="otherControl">
							<span class="volume glyphicon glyphicon-volume-down"></span>
							<span class="fullScreen glyphicon glyphicon-fullscreen"></span>
							<div class="volumeBar">
								<div class="volumewrap">
									<div class="progress">
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 8px;height: 40%;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- BEGIN CSS_JS -->
	<div th:include="/common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
	<div th:include="/common/footer :: footer" th:remove="tag"></div>
	<link rel="stylesheet" href="/video/css/reset.css" />
	<link rel="stylesheet" href="/video/css/willesPlay.css" />
	<script type="text/javascript" src="/video/js/willesPlay.js"></script>
	<script type="text/javascript">
		function allowDrop(event){
			event.preventDefault();
		}
		
		function drag(event){
			event.dataTransfer.setData("Text",event.target.id);
		}
		
		function drop(event){
			event.preventDefault();
			var data=event.dataTransfer.getData("Text");
			var node=document.getElementById(data);
			var link_ul=document.getElementById("link_ul");
			link_ul.removeChild(node);
			link_ul.appendChild(node);
		}
	</script>
</body>
</html>