<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="/common/meta :: meta" th:remove="tag"></div>
	<title>控制台-授权</title>
</head>
<body th:with="menu='ADMIN',subMenu='AUTH'">

	<!-- BEGIN HEADER -->
	<div th:include="/common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/admin/init">Authority</a></li>
		</ol>
		
		<!-- 树形菜单 -->
		<div th:include="/common/admin_menu :: admin_menu" th:remove="tag"></div>
		
		<div class="col-xs-15 col-sm-10 col-md-10">
			<div id="authorize">
				<button role="button" class="btn" data-toggle="modal" data-target="#modal-clone" >新增</button>
				<button id="authorize_button" class="btn" type="button" onclick="auto_authorize(this.innerHTML);" th:utext="${hasAuthorized}?'撤权':'授权'" ></button>
			</div>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="modal-clone" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="modalLabel">
								模态框（Modal）标题
							</h4>
						</div>
						<div class="modal-body">
							模态框（Modal）正文
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭
							</button>
							<button type="button" class="btn btn-primary">
								提交更改
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#panel-1" data-toggle="tab" contenteditable="false">公网入</a></li>
					<li class=""><a href="#panel-2" data-toggle="tab" contenteditable="false">公网出</a></li>
					<li class=""><a href="#panel-3" data-toggle="tab" contenteditable="false">内网入</a></li>
					<li class=""><a href="#panel-4" data-toggle="tab" contenteditable="false">内网出</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-1" contenteditable="false">
						<table th:if="${not #lists.isEmpty(internetIns)}" class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>IP协议</td>
									<td>端口范围</td>
									<td>源IP地址段</td>
									<td>源安全组</td>
									<td>账户Id</td>
									<td>目标IP地址</td>
									<td>目标安全组</td>
									<td>阿里云账户Id</td>
									<td>授权策略</td>
									<td>网络类型</td>
									<td>规则优先级</td>
									<td>授权方向</td>
									<td>描述信息</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${internetIns}">
									<td th:utext="${item.IpProtocol}"></td>
									<td th:utext="${item.PortRange}"></td>
									<td th:utext="${item.SourceCidrIp}"></td>
									<td th:utext="${item.SourceGroupId}"></td>
									<td th:utext="${item.SourceGroupOwnerAccount}"></td>
									<td th:utext="${item.DestCidrIp}"></td>
									<td th:utext="${item.DestGroupId}"></td>
									<td th:utext="${item.DestGroupOwnerAccount}"></td>
									<td th:utext="${item.Policy}"></td>
									<td th:utext="${item.NicType}"></td>
									<td th:utext="${item.Priority}"></td>
									<td th:utext="${item.Direction}"></td>
									<td th:utext="${item.Description}"></td>
									<td><a onclick="">删除</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="panel-2" contenteditable="false">
						<table th:if="${not #lists.isEmpty(internetOuts)}" class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>IP协议</td>
									<td>端口范围</td>
									<td>源IP地址段</td>
									<td>源安全组</td>
									<td>账户Id</td>
									<td>目标IP地址</td>
									<td>目标安全组</td>
									<td>阿里云账户Id</td>
									<td>授权策略</td>
									<td>网络类型</td>
									<td>规则优先级</td>
									<td>授权方向</td>
									<td>描述信息</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${internetOuts}">
									<td th:utext="${item.IpProtocol}"></td>
									<td th:utext="${item.PortRange}"></td>
									<td th:utext="${item.SourceCidrIp}"></td>
									<td th:utext="${item.SourceGroupId}"></td>
									<td th:utext="${item.SourceGroupOwnerAccount}"></td>
									<td th:utext="${item.DestCidrIp}"></td>
									<td th:utext="${item.DestGroupId}"></td>
									<td th:utext="${item.DestGroupOwnerAccount}"></td>
									<td th:utext="${item.Policy}"></td>
									<td th:utext="${item.NicType}"></td>
									<td th:utext="${item.Priority}"></td>
									<td th:utext="${item.Direction}"></td>
									<td th:utext="${item.Description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="panel-3" contenteditable="false">
						<table th:if="${not #lists.isEmpty(intranetIns)}" class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>IP协议</td>
									<td>端口范围</td>
									<td>源IP地址段</td>
									<td>源安全组</td>
									<td>账户Id</td>
									<td>目标IP地址</td>
									<td>目标安全组</td>
									<td>阿里云账户Id</td>
									<td>授权策略</td>
									<td>网络类型</td>
									<td>规则优先级</td>
									<td>授权方向</td>
									<td>描述信息</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${intranetIns}">
									<td th:utext="${item.IpProtocol}"></td>
									<td th:utext="${item.PortRange}"></td>
									<td th:utext="${item.SourceCidrIp}"></td>
									<td th:utext="${item.SourceGroupId}"></td>
									<td th:utext="${item.SourceGroupOwnerAccount}"></td>
									<td th:utext="${item.DestCidrIp}"></td>
									<td th:utext="${item.DestGroupId}"></td>
									<td th:utext="${item.DestGroupOwnerAccount}"></td>
									<td th:utext="${item.Policy}"></td>
									<td th:utext="${item.NicType}"></td>
									<td th:utext="${item.Priority}"></td>
									<td th:utext="${item.Direction}"></td>
									<td th:utext="${item.Description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="panel-4" contenteditable="false">
						<table th:if="${not #lists.isEmpty(intranetOuts)}" class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>IP协议</td>
									<td>端口范围</td>
									<td>源IP地址段</td>
									<td>源安全组</td>
									<td>账户Id</td>
									<td>目标IP地址</td>
									<td>目标安全组</td>
									<td>阿里云账户Id</td>
									<td>授权策略</td>
									<td>网络类型</td>
									<td>规则优先级</td>
									<td>授权方向</td>
									<td>描述信息</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${intranetOuts}">
									<td th:utext="${item.IpProtocol}"></td>
									<td th:utext="${item.PortRange}"></td>
									<td th:utext="${item.SourceCidrIp}"></td>
									<td th:utext="${item.SourceGroupId}"></td>
									<td th:utext="${item.SourceGroupOwnerAccount}"></td>
									<td th:utext="${item.DestCidrIp}"></td>
									<td th:utext="${item.DestGroupId}"></td>
									<td th:utext="${item.DestGroupOwnerAccount}"></td>
									<td th:utext="${item.Policy}"></td>
									<td th:utext="${item.NicType}"></td>
									<td th:utext="${item.Priority}"></td>
									<td th:utext="${item.Direction}"></td>
									<td th:utext="${item.Description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<!-- BEGIN CSS_JS -->
	<div th:include="/common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
	<div th:include="/common/footer :: footer" th:remove="tag"></div>
	
	<script type="text/javascript">
		function auto_authorize(text){
			var action=text=="撤权"?"RevokeSecurityGroup":"AuthorizeSecurityGroup";
			general_ajax("/admin/security", "POST", {action:action}, null, function(result){
				if (get_type(result) == "[object String]") {
					result = json_parse(result);
				}
				var ele = '<div class="alert alert-'+(result.status==200?'success':'danger')+' alert-dismissible" role="alert">'
				+'<button type="button" class="close" data-dismiss="alert">'
				+'<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>'
				+'</button>'
				+'<span id="alert_msg">'+(result.status==200?'success!':result.message)+'</span>'
				+'</div>';
				$("#authorize").append(ele);
				if (result.status==200) {
					text=action=="AuthorizeSecurityGroup"?"撤权":"授权";
					$("#authorize_button").html(text);
				}
			}, null, null);
		}
	</script>
</body>
</html>